*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}
.top nav ul a{
    text-decoration: none;
    padding: 10px;
    color: white;
}
.top nav ul a:hover{
    color: red;
}
.top img{
    height: 40px;
}
header{
    background-image:linear-gradient(rgba(52, 53, 71, 0.678), rgba(53, 51, 70, 0.678)), url(Weddingimages/Services/pic25-free-img.jpeg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 540px;
}
.story{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-top: 80px;
}
#wedding{
    font-weight: bolder;
    font-size: 6.5rem;
    letter-spacing: 2.5px;
}
#gallery{
    color: red;
}
.pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 90px;
    margin-top: 30px;
    background-color: rgba(128, 128, 128, 0.082);
    padding-bottom: 90px;
}
.pics img{
    width: 30%;
    padding: 10px;
}


.dropdown{
    position: relative;
    display: none;
}
.dropcontent{
    display: none;
    position: absolute;
    background-color: rgb(231, 231, 231);
    border: 1px solid rgba(128, 128, 128, 0.438);
    top: 65px;
    left: 0;
    width: 100%;
}
.dropcontent li{
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);
    list-style-type: none;
}
.dropbutton:focus + .dropcontent, .dropcontent:hover{
    display: block
}
.dropcontent li a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 1.1rem;
    padding-left: 6px;
}
.dropcontent li a:hover{
    color: red;
}
.dropdown button{
    line-height: 0;
    border: 0;
    border: 1px solid rgb(253, 59, 91);
    border-radius: 4px;
}
#ayesha, #monica{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
video{
    width: 49%;
    
}
#voluptass, #voluptas{
    background-color: rgba(128, 128, 128, 0.082);
    width: 49%;
    padding-left: 30px;
}
#voluptass h2, #voluptas h2{
    font-size: 2.4rem;
    max-width: 180px;
}
#voluptass p, #voluptas p{
    font-size: 1.2rem;
    padding-top: 30px;
    padding-bottom: 30px;
}
#vid{
    margin-top: 30px;
}


.grand{
    margin-top: 30px;
    display: flex;
}
#lorem{
    background-color: rgba(255, 0, 43, 0.76);
    padding: 30px;
}
#sendmessage{
    padding: 30px;
    text-align: center;

}
#sendmessage form input{
    width: 75%;
    margin-bottom: 20px;
    background-color: rgba(128, 128, 128, 0.082);
}
#sendmessage form{
    outline: none;
}
#messages{
    padding-bottom: 70px;
    padding-left: 10px;
    padding-top: 10px;
}
#yourname, #youremail, #subject{
    padding: 10px;
}
#sendmessage h2, #sendmessage p{
    padding-bottom: 17px;
    font-size: 1.3rem;
}
#sendmessage h2{
    font-size: 3.5rem;
    padding-top: 60px;
}
#sendmessage p{
    width: 420px;
    margin: auto;
    font-weight: lighter;
    padding-bottom: 25px;
}
input{
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.082);
}
input:focus{
    border: 1px dotted black;
}
#sendmessage form input:focus{
    background-color: white;
}
#sendmessage a{
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
}
#sendmessage #readmore{
    width: fit-content;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 100px;
    background-color: white;
    color: black;
}
#sendmessage #readmore:hover{
    background-color: rgba(255, 0, 43, 0.76);
    color: white;
}
#readmore{
    border: 2px solid rgba(255, 0, 43, 0.76);
    width: fit-content;
    padding: 13px;
    padding-left: 35px;
    padding-right: 35px;
}
#readmore:hover{
    background-color: rgba(255, 0, 43, 0.76);
    color: whitesmoke;
}
#lorem{
    color: white;
    text-align: center;
    padding-top: 200px;
}
#lorem p{
    width: 70%;
    margin: auto;
    font-size: 1.2rem;
    text-align-last: initial;
    padding-top: 25px;
    padding-bottom: 15px;

}
#lorem h2{
    font-size: 3rem;
}
footer{
    color: white;
    background-color: rgb(37, 37, 51);
    justify-content: space-between;
    display: flex;
    padding: 60px;
}
.logoss2 img{
    max-width: 38px;
    padding: 2px;
}



@media(max-width:1148px){
    .grand{
        flex-wrap: wrap;
    }
    #lorem{
        width: 100%;
        text-align: center;
        padding-top: 100px;
        height: 550px;
    }
    form #readmore{
        margin-left: 30px;
    }
}
@media(max-width:950px){
    #sendmessage #readmore{
        margin-left: 0;
    }
}
@media(max-width:600px){
    #sendmessage{
        width: 100%;
    }
    #sendmessage h2{
        font-size: 2.2rem;
    }
    #sendmessage p{
        width: 100%;
        font-size: 1.1rem;
    }
    #sendmessage #readmore{
        font-size: 
        1rem;
        padding: 8px;
    }
    #lorem h2{
        font-size: 2.2rem;
    }
    #lorem img{
        width: 120px;
    }
    #lorem p{
        width: 100%;
        font-size: 1.2rem;
    }
    #lorem{
        height: 500px;
    }
}
@media(max-width:640px){
    footer{
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    footer p{
        padding-bottom: 10px;
    }
}
@media(max-width:354px){
    footer p{
        font-size: 1rem;
    }
    #sendmessage h2{
        font-size: 1.8rem;
        font-weight: lighter;
    }
}
@media(max-width:920px) {
    .top ul{
        display: none;
    }
    .dropdown{
        display: contents;
    }
    .top{
        padding: 15px;
    }
    .story{
        margin-top: 80px;
    }
}
@media(max-width:720px){
    .top img{
        width: 140px;
        height: 30px;
    }
    .dropdown img{
        width: 30px;
        height: 30px;
    }
    
}
@media(max-width:732px){
    #wedding{
        font-size: 4rem;
        letter-spacing: normal;
    }
    header{
        height: 400px;
    }
    
}
@media(max-width:490px){
   header{
    height: 350px;
   }
   #wedding{
    font-size: 2.5rem;
   }
   .story p{
    font-size: 1.3rem;
   }
}
@media(max-width:757px){
    #ayesha{
        flex-wrap: wrap;
    }
    #monica{
        flex-wrap: wrap-reverse;
    }
    #ayesha video, #voluptass,#monica video, #voluptas{
        width: 100%;
    }
    #voluptass h2, #voluptass p, #voluptas h2, #voluptas p{
         padding: 10px;
         text-align: center;
         max-width: 100%;
    }
    #voluptass,#voluptas{
        padding: 15px;
    }
    #voluptass h2, #voluptas h2{
        font-size: 1.8rem;
    }
    .pics img{
        width: 50%;
    }
}
@media(max-width:479px){
    .pics img{
        width: 100%;
    }
}
.customize{
    position: absolute;
    top: 200px;
    right: 0;
    position: fixed;
    border: 1px solid white;
    background-color: white;
    padding: 12px;
}
.customize p{
    margin-left: 5px;
}
.customize img{
    margin-right: 5px;
    height: 20px;
    max-width: 20px;
}
@media(max-width:520px){
    header{
        background-image:linear-gradient(rgba(52, 53, 71, 0.678), rgba(53, 51, 70, 0.678)), url(resized/IMG_0848.JPG);
        background-size: 100% 100%;
        width: 100%;
    }
}
.dropbutton:hover + .dropcontent, .dropcontent:hover{
    display: block
}